html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  background-color: hsl(218, 22%, 85%);
  color: #fff;
  padding: 40px 0;
}
.price_grid {
  width: 85%; /* 318px */
  min-width: 320px;
  max-width: 960px;
  box-shadow: 0px 3px 7px -3px #5a5a5a;
  border-radius: 6px;
  overflow: auto; /* for border-radius effect */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.row {
  box-sizing: border-box;
  padding: 20px 30px 30px;
}
.main_title {
  color: hsl(179, 62%, 43%);
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 20px;
}
.sub_title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.row:nth-child(1) {
  background-color: #fff;
}
.row:nth-child(1) strong {
  display: block;
  color: hsl(71, 73%, 54%);
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
}

.row:nth-child(1) p {
  color: hsl(218, 22%, 67%);
  line-height: 1.7;
}

.row:nth-child(2) {
  background-color: hsl(179, 62%, 43%);
}
.row:nth-child(2) p {
  color: hsl(204, 43%, 80%);
  margin-bottom: 10px;
}
.row:nth-child(2) .price {
  display: inline-block;
  padding-right: 5px;
  vertical-align: middle;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

.row:nth-child(2) small {
  display: block;
  margin-bottom: 20px;
  color: hsl(204, 43%, 93%);
}
.row:nth-child(3) {
  background-color: hsl(179, 62%, 47%);
}

.row:nth-child(3) li {
  color: hsl(204, 43%, 87%);
  line-height: 1.5;
}

.btn {
  display: block;
  text-decoration: none;
  width: 100%;
  max-width: 250px;
  padding: 15px 0;
  background-color: hsl(71, 73%, 54%);
  border-radius: 4px;
  color: hsl(204, 43%, 98%);
  box-shadow: 0px 3px 7px -3px #5a5a5a;
  text-align: center;
}

footer {
  padding: 10px 0;
}
footer .attribution {
  text-align: center;
  font-size: 1.2rem;
  color: #000;
}
@media screen and (min-width: 760px) {
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .price_grid {
    display: flex;
    flex-wrap: wrap;
  }
  .main_title {
    font-size: 2.5rem;
  }
  .row {
    padding: 50px 40px;
  }
  .row:nth-child(1) p {
    max-width: 60%;
  }
  .row:nth-child(1) {
    flex-basis: 100%;
  }
  .row:nth-child(2) {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .row:nth-child(3) {
    flex-basis: 50%;
  }
  .btn {
    transition: background-color 0.5s;
  }
  .btn:hover {
    background-color: hsl(71, 73%, 30%);
  }
}
